{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>

    {% for listing in listings %}
       <div>
            <a href="{% url 'listing' listing.id %}">
                <h3>{{ listing.title }}</h3>
                {% if listing.image_url %}
                    <img src="{{ listing.image_url }}">
                {% endif %}
                <p>{{ listing.description }}</p>
                {% if listing.get_highest_bid %}
                    <h4>Current Bid: </h4><p>{{ listing.get_highest_bid }}</p>
                {% else %}
                    <h4>Starting Bid: </h4><p>{{ listing.starting_bid }}</p>
                {% endif %}
                <h4>Category: {{ listing.category }}</h4>
            </a>
            <hr class="divider">
       </div>
    {% endfor %}
{% endblock %}