{% extends "auctions/layout.html" %}

{% block body %}
    <h3>{{ listing.title }}</h3>
    {% if listing.image_url %}
        <img src="{{ listing.image_url }}">
    {% endif %}
    <p>{{ listing.description }}</p>
    <h4>Current Bid: </h4><p>{{ listing.get_highest_bid }}</p>
    <h4>Category: {{ listing.category }}</h4>
    {% if user.is_authenticated %}
        <form action="{% url "watchlistadd" listing.id %}" method="post">
            {% csrf_token %}
            {% if watchlist %}
                <input type="submit" value="Remove from Watchlist" class="form-group btn btn-primary">
            {% else %}
                <input type="submit" value="Add to Watchlist" class="form-group btn btn-primary">
            {% endif %}
        </form>
        <form action="{% url "bid" listing.id %}" method="post">
            {% csrf_token %}
            <p>{{ biderror }}</p>
            {{ bidform }}
            <input type="submit" value="Bid" class="form-group btn btn-primary">
        </form>
        <form action="{% url "comment" listing.id %}" method="post">
            {% csrf_token %}
            {{ commentform }}
            <input type="submit" value="Post" class="form-group btn btn-primary">
        </form>
    {% else %}
        <h3>Login to Bid or Comment</h3>
    {% endif %}
    {% for comment in comments %}
        <hr class="divider">
        <h4>{{ comment.user }}</h4>
        <p>{{ comment.value }}</p>
    {% endfor %}
{% endblock %}