{% extends "auctions/layout.html" %}

{% block body %}
    <h3>{{ listing.title }}</h3>
    {% if listing.image_url %}
        <img src="{{ listing.image_url }}">
    {% endif %}
    <p>{{ listing.description }}</p>
    {% if listing.get_highest_bid %}
        <h4>Current Bid: </h4><p>{{ listing.get_highest_bid }}</p>
    {% else %}
        <h4>Starting Bid: </h4><p>{{ listing.starting_bid }}</p>
    {% endif %}
    <h4>Category: {{ listing.category }}</h4>
    {% if user.is_authenticated %}
        <form action="{% url "listing" listing.id %}" method="post">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Post" class="form-group btn btn-primary">
        </form>
    {% else %}
        <h3>Login to Comment</h3>
    {% endif %}
    {% for comment in comments %}
        <hr class="divider">
        <h4>{{ comment.user }}</h4>
        <p>{{ comment.value }}</p>
    {% endfor %}
{% endblock %}